# gpg
.gnupg/trustdb.gpg
.gnupg/pubring.kbx
.gnupg/pubring.kbx~
.gnupg/private-keys-v1.d/
.gnupg/reader_0.status
.gnupg/.#lk0x*
.gnupg/crls.d/
.gnupg/reader_*.status

# tmux
.config/tmux/plugins

# htop
.config/htop/htoprc

# misc
.config/configstore/update-notifier-@dotenvx

# gcloud
.config/gcloud

# uv
.config/uv/uv-receipt.json

# misc
.config/fish

# wandb
.config/wandb/
.config/wandbctl/

# argocd
.config/argocd/config

# nvim
.config/nvim.backup
